apiVersion: v1
kind: Service
metadata:
  name: k8s-project-service
  labels:
    app: k8s-project
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: k8s-project
